/* body {
  background-color: black;
} */

.container {
  width: 1920px;
  width: 100%;
  margin: 0 auto;
  /* border: 2px solid red; */
}

/* section 1*/

.section1 {
  margin: 0 auto;
  height: 720px;
  background-image: url("../Photos/Rectangle\ 106.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* header */
header {
  margin: 0 auto;
  padding: 0 12.5%;
  height: 96px;
  background-color: #d5906e85;
  background: rgba(213, 144, 110, 0.52);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: inherit;
  /* width: inherit; */
  width: 100%;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
/* navigation bar */
.burgermenu {
  display: none;
}

ul {
  display: flex;
  gap: 60px;
}

ul li a {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 22px;
  color: white;
  transition-duration: 1s;
}

.active {
  color: black;
}

ul li a:hover {
  color: black;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
}
/* logo text */
.header_logo_text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 44px;
  color: white;
  /* transition-duration: 1s; */
}

.logo_span {
  color: #d5906e;
}

/* .header_logo_text:hover {
  opacity: 0.7;
} */

.sign_icon_box {
  display: flex;
  gap: 15px;
}

.sign_in {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 19px;
  color: white;
  transition-duration: 1s;
}

.sign_in:hover {
  color: black;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
  cursor: pointer;
}

.fa-cart-shopping {
  color: white;
  font-size: 1.26rem;
  transition-duration: 1s;
}

.fa-cart-shopping:hover {
  color: #d5906e;
  cursor: pointer;
}

.section1_div_text {
  width: 40%;
  /* border: 2px solid red; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section1_heading {
  margin-top: 80px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 48px;
  color: #ffffff;
  margin-bottom: 16px;
  text-align: center;
}

.section1_paragraph {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 72px;
}

.button_shop_now {
  padding: 19px 117px;
  background-color: transparent;
  border: 2px solid #d5906e;
  border-radius: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 19px;
  color: #ffffff;
  display: block;
  margin-inline: auto;
  transition-duration: 1s;
}

.button_shop_now:hover {
  background-color: #d5906e;
  cursor: pointer;
}

/* SECTION 2 */
.section2 {
  width: 50%;
  margin-inline: auto;
  padding: 160px 0;
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
}

.section2_cards1 {
  height: 210px;
  /* border: 2px solid red; */
}

.cards1_photo {
  width: 100%;
  margin-bottom: 24px;
}

.cards1_text {
  color: #b53b1b;
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 22px;
}

/* SECTION 3 */
.section3 {
  margin: 0 auto;
  padding: 96px;
  background-color: #402101;
}

.section3_heading {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 48px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 40px;
  transition-duration: 1s;
}

.section3_heading:hover {
  color: #d5906e;
  cursor: pointer;
}

.section3_card_box {
  width: 70%;
  /* border: 2px solid green; */
  margin-inline: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 60px;
}

.cards_div {
  width: 58%;
  height: 322px;
  /* border: 2px solid red; */
}

.section3_cards_photo {
  width: 100%;
  height: 100%;
}

.cards_div1 {
  /* border: 2px solid red; */
  width: 38%;
  height: 322px;
}

.cards_div_box2 {
  width: 100%;
  /* border: 2px solid blue; */
  display: flex;
  justify-content: space-between;
}

.cards_div2 {
  /* border: 2px solid red; */
  width: 27%;
  height: 260px;
}

.cards_div2_photo {
  width: 100%;
  height: 100%;
}

.cards_div3 {
  width: 38%;
  height: 260px;
  /* border: 2px solid red; */
}

.cards_div3_photo {
  width: 100%;
  height: 100%;
}

/* SECTION 4 */
.section4 {
  margin: 0 auto;
  padding: 160px 0%;
}

.section4_heading {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 48px;
  color: #402101;
  text-align: center;
  margin-bottom: 40px;
  transition-duration: 1s;

}

.section4_heading:hover {
  color:#d5906e;
  cursor: pointer;
}

.fa-angle-left {
  font-size: 1.5rem;
  color: white;
  background-color: #b53b1b;
  padding: 10px 13px;
  height: 44px;
  margin-top: 100px;
  transition-duration: 1s;
}

.fa-angle-left:hover {
  cursor: pointer;
  transform: scale(1.05);
  opacity: 0.8;
}

.section4_cards_box {
  width: 90%;
  /* border: 2px solid red; */
  display: flex;
  margin-inline: auto;
  justify-content: space-between;
}

.section4_cards1 {
  width: 20%;
  height: 260px;
  /* border: 2px solid blue; */
  background-image: url(../Photos/Rectangle\ 94.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 8px;
  transition-duration: 1s;
 
}

.section4_cards1:hover {
  overflow: hidden;
  transform: scale(1.1);
  cursor: pointer;
}



.section4_cards2 {
  width: 20%;
  height: 260px;
  /* border: 2px solid blue; */
  background-image: url(../Photos/Rectangle\ 95.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 8px;
  transition-duration: 1s;
 
}

.section4_cards2:hover {
  overflow: hidden;
  transform: scale(1.1);
  cursor: pointer;
}

.section4_cards3 {
  width: 20%;
  height: 260px;
  /* border: 2px solid blue; */
  background-image: url(../Photos/Rectangle\ 96.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 8px;
  transition-duration: 1s;
}

.section4_cards3:hover {
  overflow: hidden;
  transform: scale(1.1);
  cursor: pointer;
}

.section4_cards4 {
  width: 20%;
  height: 260px;
  /* border: 2px solid blue; */
  background-image: url(../Photos/Rectangle\ 97.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 8px;
  transition-duration: 1s;
 
}

.section4_cards4:hover {
  overflow: hidden;
  transform: scale(1.1);
  cursor: pointer;
}

.fa-angle-right {
  font-size: 1.5rem;
  color: white;
  background-color: #b53b1b;
  padding: 10px 13px;
  height: 44px;
  margin-top: 100px;
  transition-duration: 1s;
}

.fa-angle-right:hover {
  cursor: pointer;
  transform: scale(1.05);
  opacity: 0.8;
}



.price_text {
  margin: 196px 0 0 16px;
  padding: 15px 17px;
  border-radius: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 19px;
  color:#b53b1b;
  background-color: white;
  text-align: center;
  display: inline-block;
  transition-duration: 1s;
  
}

.price_text:hover {
  background-color: #b53b1b;
  color: white;
  cursor: pointer;
}

.sectio4_card_photo {
  width: 100%;
  height: 100%;
}
