@media (max-width: 1024px) {
  /* section1 */

  .section1 {
    padding: 140px 0;
    height: 680px;
  }

  header {
    padding: 0 8%;
    height: 90px;
  }

  ul {
    gap: 40px;
  }

  ul li a {
    font-size: 1rem;
  }

  .header_logo_text {
    font-size: 2rem;
  }

  .fa-cart-shopping {
    font-size: 1rem;
  }

  .section1_div_text {
    width: 50%;
  }

  .section1_heading {
    font-size: 2.2rem;
  }

  .section1_paragraph {
    margin-bottom: 60px;
  }

  .button_shop_now {
    padding: 15px 105px;
  }

  /* section 2 */
  .section2 {
    padding: 130px 0;
    gap: 25px;
  }

  .section2_cards1 {
    height: 180px;
  }

  /* section  3 */

  .section3 {
    padding: 80px 0;
  }

  .section3_heading {
    font-size: 2.1rem;
  }

  .section3_card_box {
    width: 95%;
    row-gap: 40px;
  }

  .cards_div {
    width: 50%;
    height: 260px;
  }

  .cards_div1 {
    width: 43%;
    height: 260px;
  }

  .cards_div2 {
    width: 22%;
    height: 220px;
  }

  .cards_div3 {
    height: 220px;
    width: 43%;
  }

  .section4 {
    padding: 110px 0;
  }

  .section4_heading {
    font-size: 2.2rem;
  }

  .section4_cards_box {
    width: 95%;
  }
  .fa-angle-left {
    font-size: 1.3rem;
    height: 40px;
  }

  .section4_cards1 {
    height: 220px;
  }

  .section4_cards2 {
    height: 220px;
  }

  .section4_cards3 {
    height: 220px;
  }
  .section4_cards4 {
    height: 220px;
  }

  .price_text {
    margin: 175px 0 0 10px;
    padding: 10px 12px;
    font-size: 0.9rem;
  }

  .fa-angle-right {
    font-size: 1.3rem;
    height: 40px;
  }

  /* section 5 */
  .section5 {
    padding: 100px 0;
    height: 400px;
  }

  .section5_heading_box {
    width: 45%;
  }

  .section5_heading {
    font-size: 2rem;
    margin-bottom: 40px;
  }

  .input_home {
    width: 80%;
    padding: 14px;
  }

  .subscribe_button {
    padding: 7px 20px;
    font-size: 1rem;
  }

  /* section 6 */
  .section6 {
    padding: 90px 0;
  }

  .section6_heading {
    font-size: 2rem;
  }

  .article_box {
    width: 95%;
  }

  .section6_article {
    width: 32%;
    margin-bottom: 50px;
  }

  .article_title {
    font-size: 1.3rem;
  }

  .article_paragraph {
    font-size: 0.9rem;
  }

  .section6_heading2 {
    font-size: 1.3rem;
  }

  .button_help_center {
    padding: 12px 50px;
    font-size: 1.2rem;
  }

  /* footer */

  footer {
    padding-inline: 10%;
  }

  .footer_div_card1 {
    row-gap: 25px;
  }

  .social_networks {
    margin-top: 25px;
    width: 100%;
  }

  /* ARTWORKS PAGE */

  .section1_artwork {
    padding: 120px 0;
    height: 500px;
  }

  .section1_artwokpage_heading {
    margin-bottom: 52px;
  }

  /* SECTION 2 */

  .section2_artwork {
    width: 85%;
    margin: 120px auto;
  }

   {
    width: 85%;
  }

  .shop_category_text {
    font-size: 1rem;
  }

  .input_artwork_search {
    padding: 12px;
  }

  .button_artwork_search {
    padding: 13px;
    font-size: 1rem;
  }

  .artwork_allcategory_div {
    margin-bottom: 70px;
  }

  .allcategory_text {
    font-size: 2.2rem;
  }

  .sort_div {
    width: 100px;
  }

  .sort_div_text {
    font-size: 1.3rem;
  }

  .fa-arrow-up {
    font-size: 1.2rem;
  }

  .fa-arrow-down {
    font-size: 1.2rem;
  }

  .shopping_items_box {
    margin-bottom: 100px;
    row-gap: 50px;
  }
  .figure_card1 {
    width: 24%;
  }

  .figure_photo_box1 {
    height: 200px;
  }

  .figure_photo_box2 {
    height: 200px;
  }

  .figure_photo_box3 {
    height: 200px;
  }

  .figure_photo_box4 {
    height: 200px;
  }

  .figure_photo_box5 {
    height: 200px;
  }

  .figure_photo_box6 {
    height: 200px;
  }

  .figure_photo_box7 {
    height: 200px;
  }

  .figure_photo_box8 {
    height: 200px;
  }
  .figure_card_productname {
    font-size: 0.9rem;
  }

  .artwork_price_text {
    font-size: 1.2rem;
  }

  .fa-cart-plus {
    font-size: 0.9rem;
  }

  .div_pages_box {
    width: 40%;
  }

  .page_numbers {
    padding: 10px;
    width: 15%;
  }

  /* CONTACT PAGE */

.section1_contact {
  padding: 150px 20% 100px 20%;
  height: 700px;
}

.form_container {
  margin-inline: auto;
}


.form_contact_heading {
  font-size: 2rem;
}

/* SECTION 2 CONTACT */
.section2_contact_page {
  margin: 130px auto;
  width: 75%;
}


.contact_page_heading {
  font-size: 2.2rem;
}



}





